.body
{
    background-color: #2c3e50;
}

html, body
{
    width: 100%;
    height: 100%;
}

body>p
{
    color: white;
}

#logo
{
    max-width: 20%;
}

header
{
    background-color: #2ecc71;
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: inline-block;
}

header>.form-inline
{

    position: absolute;
    left: 40%;
    top: 0;
    margin-top: 1%;
}

.nav-button-bar
{
    position: absolute;
    list-style: none;
    right: 20px;
    height: inherit;
    top: 0;
    padding-top: 0.5%;
    overflow: hidden;
}

.nav-button-bar>li
{
    margin-left: 40px;
    display: inline;
}

.nav-button
{
    width: 60px;
    height: 60px;
}

.nav-button:hover
{
    transform: rotate(360deg);
    transition: transform 0.5s;
}

.profil, .list-container
{
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
}

.profil-header, .list-container
{
    background-color: #ecf0f1;
    border-radius: 25px 25px 0 0;
    padding: 1%;
}

.info
{
    padding-left: 125px;
}

.profil-img
{
    float: left;
    border: solid;
    margin-right: 4%;
    margin-top: 35px;
    width: 85px;
    height: 85px;
    overflow: hidden;
}

.event, .list-thumb
{
    background-color: #bdc3c7;
    padding-left: 25px;
    overflow: hidden;
    margin-bottom: 1%;
}

.follow-button
{
    clear: both;
    display: block;
    margin-right: 0;
    margin-left: auto;
}

.event-img
{
    float: left;
    width: 85px;
    height: 85px;
    margin-right: 5%;
}

.suggest
{
    float: right;
    position: inherit;
    background-color: #ecf0f1;
    border-radius: 12px;
    padding-left: 1%;
    padding-right: 1%;
    width: 20%;
    overflow: hidden;
    margin-top: 2%;
    margin-right: 1%;
}

.profil-thumbnail
{
    background-color: #d4dbdf;
    height: 10%;
    overflow: hidden;
    margin-bottom: 2%;
}

.profil-icon
{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 3%;
}

.form-container
{
    margin-top: 20px;
    background-color: #d4dbdf;
    width: 50%;
    margin-left: 20%;
    padding: 2%;
    border-radius: 12px;
}

.form-container>*
{
    margin-bottom: 5px;
}